.selectedMovieBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectedMovieDescription{
    width: 800px;
    align-items: center;
    display: flex;
    line-height: 1.5;
}

.selectedMovieImage{
    border: 10px solid black;
    padding: 0px;
}

.cabin{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 10px;  
    color:rgb(14, 26, 7)
}

.cabinIcon{
    display: flex;
    background-color: rgb(10, 193, 238);
    align-items: center;
    border: rgb(8, 21, 169) 10px solid;
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    color:black;
}