.App {
  text-align: center;
  background-color: rgb(63, 56, 165);
  padding: 10px;
  color: rgb(3, 1, 28);
}


.App-header {
  height: 150px;
  padding: 20px;
  color: rgb(43, 84, 117);


}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
