.movies {
    display : flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    background-image: url("https://miro.medium.com/max/1200/1*CibHAfI3ZFllWUo7boRdZw.jpeg");
    background-size: fill;
    border: 10px solid black;
}

.movieBox{
    border: 2px black solid;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(176, 223, 101);
}